In [1]:
import pandas as pd
import json
import tqdm
import numpy as np

In [7]:
ranked_domains = pd.read_json("../dataset/ranked_domains.json")

In [8]:
ranked_domains.head(10)

   position         domain      count           etv
0         1    youtube.com  409813668  2.169240e+10
1         2   facebook.com  283041994  1.096445e+10
2         3  wikipedia.org  253716342  3.873556e+10
3         4     reddit.com  184939356  3.340952e+09
4         5  instagram.com  169839506  9.082288e+09
5         6     tiktok.com  165416920  1.634488e+09
6         7  pinterest.com  140725023  4.981039e+09
7         8     google.com  135463863  1.412191e+10
8         9   linkedin.com  127151780  2.249970e+09
9        10      quora.com  126860754  1.998186e+09

In [9]:
urls_list = list(ranked_domains['domain'])
urls_list[:10]

['youtube.com',
 'facebook.com',
 'wikipedia.org',
 'reddit.com',
 'instagram.com',
 'tiktok.com',
 'pinterest.com',
 'google.com',
 'linkedin.com',
 'quora.com']

In [10]:
urls_list = ["https://" + url for url in urls_list]
urls_list[:10]

['https://youtube.com',
 'https://facebook.com',
 'https://wikipedia.org',
 'https://reddit.com',
 'https://instagram.com',
 'https://tiktok.com',
 'https://pinterest.com',
 'https://google.com',
 'https://linkedin.com',
 'https://quora.com']

In [11]:
len(urls_list)

1000

In [12]:
with open("../dataset/dataset.json", "w") as data_list:
  data_list.write(json.dumps(urls_list))

In [13]:
with open("../dataset/top-1m.txt") as f:
  lines = f.readlines()
for i, line in enumerate(lines):
  lines[i] = "https://" + line.strip()

In [14]:
with open("../dataset/largerDataset.json", "w") as f:
  f.write(json.dumps(lines))

In [15]:
with open("../dataset/dataset.json") as f:
    dataset1 = json.load(f)


with open("../dataset/largerDataset.json") as f:
    dataset2 = json.load(f)

dataset1_np = np.array(dataset1)
dataset2_np = np.array(dataset2)

new_urls = np.setdiff1d(dataset2_np, dataset1_np)

dataset1.extend(new_urls)

with open("../dataset/datasetMerged.json", "w") as f:
    json.dump(dataset1, f)

In [18]:
# split the dataset in chunks of 1000
chunks = [dataset1[i:i + 1000] for i in tqdm.tqdm(range(0, len(dataset1), 1000))]
# write those in separate files
for i, chunk in enumerate(chunks):
    with open(f"../dataset/splitupDataset/dataset_{i}.json", "w") as f:
        json.dump(chunk, f)

100%|██████████| 746/746 [00:00<00:00, 39159.86it/s]